body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.container {
  padding: 2rem;
  width: 100vh;
}

div.form-wrapper {
  margin-top: 10rem;
  margin-bottom: 5rem;
  border-radius: 0.5rem;
}

form {
  display: grid;
  grid-template-columns: 20fr 1fr;
  gap: 0.5rem;
}

input.search-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;

  padding-bottom: 0.2rem;
}

button.search-button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
}

button.search-button:hover {
  cursor: pointer;
}

div.result-wrapper {
}
