@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Mukta:wght@200;300;400;500;600;700;800&display=swap");

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Lora", serif;
}

div.container {
  padding: 2rem;
  width: 100vh;
}

div.form-wrapper {
  margin-top: 10rem;
  border-radius: 0.5rem;
}

form {
  display: grid;
  grid-template-columns: 20fr 1fr;
  gap: 0.5rem;
}

input.search-input {
  border: none;
  border-bottom: 0.1rem solid black;
  outline: none;
  font-family: "Mukta", sans-serif;
  font-size: 1.2rem;
  padding-bottom: 0.2rem;
}

button.search-button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  font-size: 1.2rem;
  outline: none;
}

button.search-button:hover {
  cursor: pointer;
}

div.result-wrapper {
  font-size: 1.5rem;
}

div.result-wrapper h5 {
  font-size: 1rem;
}

div.result-wrapper p {
  font-size: 1rem;
}
