body {
  display: flex;
  align-items: center;
  justify-content: center;
}

div.container {
  padding: 2rem;
  max-width: 600px;
}

div.form-wrapper {
  margin-top: 10rem;

  border-radius: 0.5rem;
  width: 600px;
}

input.search-input {
  border: none;
  border-bottom: 1px solid black;
  outline: none;
  width: 90%;
}

button.search-button {
  border: none;
  background: none;
  color: inherit;
  font: inherit;
  outline: none;
  width: 8%;
}

button.search-button:hover {
  cursor: pointer;
}

div.result-wrapper {
}
